:where(body) {
	--woo1881-autocomplete-background: #fbfbfb;
	--woo1881-autocomplete-border-color: rgb(118, 118, 188);
	--woo1881-autocomplete-text-color: var(--wp--preset--color--black);
	--woo1881-autocomplete-hover-text-color: #0693e3;
}

.woo1881-lookup {
    position: relative;

	& .woo1881-logo-input-container {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 30px;

		& .woo1881-logo {
			height: 70px;
			width: 70px;
		}
	}

	&.legacy-checkout {

		& .woo1881-lookup-input {
			font-size: var(--wp--preset--font-size--small);
			padding: .9rem 1.1rem;
		}
	}

	& .woo1881-input-container {
		display: flex;
		flex: 1;
		flex-direction: column;

		&.wc-block-components-text-input {
			margin-top: 0;
		}
	}

	& .woo1881-autocomplete-container {
		background-color: var(--woo1881-autocomplete-background);
		border: 1px solid var(--woo1881-autocomplete-border-color);
		border-radius: 0 0 4px 4px;
		border-top: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 99;

		& .woo1881-autocomplete-item {
			border-bottom: 1px solid var(--woo1881-autocomplete-border-color);
			color: var(--woo1881-autocomplete-text-color);
			cursor: pointer;
			padding: .5rem;
			transition: all .2s;

			&:hover {
				color: var(--woo1881-autocomplete-hover-text-color);
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}
}
